<div class="row" *ngIf="loading">
    <div class="col">
        <div class="alert alert-info text-center">
            <h1>Cargando datos</h1>
            <i class="fa fa-sync fa-spin fa-2x"></i>
        </div>

    </div>
</div>

<div class="row" *ngIf="error">
    <div class="col">
        <div class="alert alert-danger text-center">
            <i class="fa fa-times fa-2x"> </i>
            <h1>Error {{error.status}} </h1>
            <p>{{error.message}}</p>
        </div>

    </div>

</div>

<div class="card-columns" *ngIf="!loading">

    <div class="card" *ngFor="let usuario of usuarios">
        <img class="card-img-top" [src]="usuario.avatar">
        <div class="card-body">
            <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            <p card="card-text">
                <span class="text-muted">
                ID: {{usuario.id}}
              </span>
            </p>
        </div>
    </div>

</div>